.current {
  color: $blue;
  @include flex-func(false, false, column, false);
  position: relative;
}

@media (min-width: 768px) {
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;

    border-radius: 2px;
    background-color: $blue;
    overflow: hidden;
    bottom: -1 * $default-gap + 0.5;
    transform: translateX(-100%);
  }
}
