$grey: #757575;
$white: #fff;
$black: #000;
$dark-bg: #2f303a;
$light-bg: #f5f4fa;
$font-color: #212121;
$portfolio-line: #ececec;
$card-border: #eeeeee;
$footer-contacts: rgba(255, 255, 255, 0.6);
$header-border: #ececec;
$default-gap: 30px;
$section-padding: 94px;
$bg-color: #2f303a70;
$svg-grey: #afb1b8;
$backdrop-color: rgba(0, 0, 0, 0.2);
$hover-timing: 250ms;
$animation-func: cubic-bezier(0.4, 0, 0.2, 1);
$modal-window-border-color: rgba(33, 33, 33, 0.2);
$prim-but-hover: #188ce8;
$blue: #2196f3;
$footer-social-bg: #ffffff10;
